 /* .container{
  display: flex;
  flex-direction:column ;
}    */
.criminalsContainer{
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 2px solid black ;
}

.container--right{
display: flex;
flex-direction: column;
} 


.criminal__data{
 border: 1px solid black;
  margin: 10px;
  flex-basis: 30%;
  
}

.facilityContainer{
  
  display: flex;
  flex-wrap: wrap;
  gap:1em;
  border: 2px solid black ;
}

.facility__data{
 border: 1px solid black;
  margin: 10px;
  flex-basis: 30%;
}

header{
 position: relative;
}

textarea{
  resize:none;
}

.note__form{
  border: 1px solid black;
}
#text {
  margin: 5px;
}
.note{
  border: 1px solid black;
}

